[submodule "INF3995-Robot"]
	path = INF3995-Robot
	url = https://github.com/Julien9969/INF3995-Robot.git
[submodule "INF3995-Frontend"]
	path = INF3995-Frontend
	url = https://github.com/Julien9969/INF3995-Frontend.git
[submodule "INF3995-Backend"]
	path = INF3995-Backend
	url = https://github.com/Julien9969/INF3995-Backend.git
